<%-include('../layout/adminLayout')%>
<%-include('../partials/admin-sidebar')%>
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Banner</h2>
                    <ul class="breadcrumb">
    
                        <li class="breadcrumb-item active">Banner</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    
                </div>
            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button> 
            </div>
        </div>
       
    </div>
</section>
<%-include('../layout/adminLayout2')%>