 <!-- Left Sidebar -->
 <aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
      <button class="btn-menu ls-toggle-btn" type="button">
        <i class="zmdi zmdi-menu"></i>
      </button>
      <a href="/admin/dashboard"
        ><img src="/images/logo shoe.png" width="25" alt="shoe" /><span
          class="m-l-10"
          >Perfect Pair</span
        ></a
      >
    </div>
    <div class="menu">
      <ul class="list">
        <li>
          <div class="user-info">
            <a class="image" href="/admin/profile"
              ><img src="/images/user icon.png" alt="User"
            /></a>
            <div class="detail">
              <h4>Anuraj</h4>
              <small>Super Admin</small>
            </div>
          </div>
        </li>
        <a href="/admin/dashboard"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
        <!-- <a href="/admin/product"><i class="zmdi ti-package"></i><span>Product</span></a> -->
        <a href="/admin/add-product"><i class="zmdi ti-plus"></i><span>Add Product</span></a>
        <!-- <a href="/admin/edit-product"><i class="zmdi ti-pencil-alt"></i><span>Edit Product</span></a> -->
        <a href="/admin/products-list"><i class="zmdi ti-list"></i><span>Product List</span></a>
        <a href="/admin/category"><i class="zmdi ti-layers"></i><span>Category</span></a>
        <a href="/admin/subcategory"><i class="zmdi ti-layers-alt"></i><span>Subcategory</span></a>
        <a href="/admin/coupon"><i class="zmdi ti-layers-alt"></i><span>Coupon</span></a>
        <a href="/admin/orders"><i class="zmdi ti-truck"></i><span>Orders</span></a>
        <a href="/admin/users"><i class="zmdi ti-user"></i><span>Users</span></a>
        <a href="/admin/logOut"><i class="zmdi ti-power-off"></i><span>Log Out</span></a>
      </ul>
  </aside>  