	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Send Queries</h6>
						<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<p><a href="#">perfectpairshoes2023@gmail.com</a></p>
							<p>Send us your query anytime!</p>
						</div>
					</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<p>Hilite Buissiness Park, near Palazhi,</p>
							<p>Kozhikode,Kerala</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<p><a href="#">9876543210</a></p>
							<p>Mon to Fri 9am to 6 pm</p>
						</div>
						
					</div>
			
			</div>
			
		</div>
	</footer>
	<!-- End footer Area -->